/* -- IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap');

@font-face {
    font-family: 'Neon Retro';
    src: url('assets/fonts/NirmanaVisual-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Neon Retro V2';
    src: url('assets/fonts/Neonblitz.ttf') format('truetype');
}

/* RESETS */
a {
    text-decoration: none;
    color: #3CB9FC;

    &:hover {
        color: #08F7FE;
    }
}

/* FOR REFERENCE ONLY */
/*
REF: https://www.shutterstock.com/blog/neon-color-palettes
$color-retro-light-blue: #3CB9FC;
$color-retro-dark-blue: #120052;
$color-retro-light-purple: #B537F2;
$color-retro-dark-purple: #560A86;
*/

/* MAIN STYLES */
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

header {
    .header-nav {
        background-color: #560A86;

        & .logo {
            font-size: 2rem;
            font-family: 'Neon Retro V2', sans-serif;
            letter-spacing: 0.2em;
        }

        & .navbar-toggler {
            background-color: #B537F2;
        }

        & .header-links {
            & .about-dropdown-menu-parent {
                &.show {
                    color: #B537F2;
                }
            }

            & .about-dropdown-menu {
                background-color: #B537F2;
            }
        }

        & a {
            font-size: 1.4rem;
            font-family: 'Poppins', sans-serif;
            color: #FFF;

            &:hover {
                color: #B537F2;
            }
        }
    }
}

footer {
    .copyright-info {
        background-color: #560A86;
        border-radius: 8px;
    }
}

.btn-go-to-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 2;
    font-size: 16px;
    border: 1px solid #B537F2;
    background-color: #B537F2;
    color: white;
    cursor: pointer;
    padding: 0.8em 0.6em;
    border-radius: 8px;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: #560A86;
    }

    & .fa-caret-up {
        position: relative;
        animation: 1s none 0s rise-up;
        animation-iteration-count: infinite;
    }
}

.popover {
    & .popover-header {
        background-color: #B537F2;
    }
}

/* Keyframes */
@keyframes rise-up {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0;
    }
}
